# VMware Secrets Manager (VSecM) Rust SDK -- https://vsecm.com
# Copyright 2024-present VSecM SDK contributors.
# SPDX-License-Identifier: Apache-2.0
# Keep your secrets... secret.

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# More details are here: https://help.github.com/articles/about-codeowners/

## Code Owners (in no particular order) ##

* @v0lkan     # Volkan Özçelik
* @parlakisik # Murat Parlakışık
